<!doctype html>
<html>
    <head>
        <title>Pimp</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div class="left-container">
            <div class="top-container">
                <a href="main.html">
                    <button class="PI-button"></button>
                </a>
            </div>
            <div class="middle-container">
                <button class="mode-button-sim">simulate</button>
                <br /><br />
                <button class="mode-button-edit">edit</button>
                <br /><br />
                <button class="mode-button-approve">approve</button>
            </div>
            <div class="bottom-container">
                <button class="settings-button">settings</button>
            </div>
        </div>
        <div class="right-container">
            <div class="map-container">
                <div class="pic"></div>
                <div class="popup" onclick="myFunction()">
                    add
                    <span class="popuptext" id="myPopup">
                        <form>
                            <label>process</label>
                            <input type="text" /><br /><br />
                            <label>ID</label>
                            <input type="text" /><br /><br />
                            <label>process group</label>
                            <input type="text" /><br /><br />
                            <label>following ID</label>
                            <input type="text" /><br /><br />
                            <label>preceding ID</label>
                            <input type="text" /><br /><br />
                            <button>submit</button>
                        </form>
                    </span>
                </div>
                <script>
                    function myFunction() {
                        var popup = document.getElementById("myPopup");
                        popup.classList.toggle("show");
                    }
                </script>
            </div>
            <div class="time-container">
                <div style="text-align: right">
                    <button>hours</button>
                    <button>days</button>
                    <button>weeks</button>
                </div>
            </div>
        </div>
    </body>
</html>
