/****************************
****** Zoom in and out ******
****************************/

#btn-zoom-in {
    grid-column: 49;
    grid-row: 1;

    background-color: grey;
    z-index: 1;
}

#btn-zoom-out {
    grid-column: 51;
    grid-row: 1;

    background-color: grey;
    z-index: 1;
}
/****************************
****** Bild div        ******
****************************/
#Bild{
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    border: 1px solid #ccc;
    overflow: hidden;
    cursor: grab; 

}
#zoomedImage {
    position: absolute;

    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Animierter Übergang für den Zoom-Effekt */
    z-index: -1;

    overflow: hidden;
}

/****************************
****** Canvas und Drawings***
****************************/
