.right-container {
    width: 87%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.upper-right {
    width: 100%;
    height: 20%;
    background: #f0f0f0; /* Hintergrundfarbe des oberen Containers */
    display: flex;
    align-items: center;
}

.square-button {
    width: 100px;
    height: 100px;
    background: url('map.png') center/cover; /* Hintergrundbild */
    border: 2px solid #000; /* 2px breiter schwarzer Rand */
    cursor: pointer;
    margin-right: 20px;
}

.pic {
    width: 724px;
    height: 365px;
    background: url('Prozesse.png') center/cover;
    border: 2px solid #000;
}

.PI-button {
    width: 100px;
    height: 100px;
    background: url('pi.png') center/cover; /* Hintergrundbild und background-size auf 'contain' festlegen */
    border: 2px solid #000; /* 2px breiter schwarzer Rand */
    cursor: pointer;
    margin-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    background: #0051A0; /* Hintergrundfarbe des Suchen-Buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.table-container {
    height: 45%; /* Anpassung der Höhe auf 45% */
    margin-top: 5%; /* Hinzufügen einer oberen Marge von 5% */
    overflow: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000; /* Sichtbare Tabellengrenzen */
    padding: 8px;
    text-align: left;
}

.left-container {
    background: #0051A0;
    height: 100vh;
    width: 13%;
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.top-container {
    height: 33.33vh;
    padding: 20px; 
}

.middle-container {
    height: 33.33vh;
    padding: 20px;
}

.bottom-container {
    height: 33.33vh;
    padding: 20px;
}

.settings-button {
    margin-top: auto; /* Verschiebt den Button zum unteren Rand des Containers */
    background: white; /* Hintergrundfarbe des Buttons */
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.rund {
    background: url('user.png') center/cover;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}

.user-button {
    width: 100px;
    height: 100px;
    background: url('user.png') center/cover; /* Hintergrundbild und background-size auf 'contain' festlegen */
    border: 2px solid #000; /* 2px breiter schwarzer Rand */
    cursor: pointer;
    margin-right: 20px;
}

mode-button-sim {
    background-color: white;
    cursor: pointer;
}

mode-button-edit {
    background-color: white;
    cursor: pointer;
}

mode-button-approve {
    background-color: white;
    cursor: pointer;
}

.map-container {
    height: 70vh;
    padding: 20px;
    background-color: white;
}

.time-container {
    height: 30vh;
    padding: 20px;
    background-color:white;
}

add-button {
    background-color: #0051A0;
    cursor: pointer;
    color: white;
}

delete-button {
    background-color: #0051A0;
    cursor: pointer;
    color: white;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }